{% extends 'base.html' %}
{% load static %}



{% block css %}
<style>
    h2 {
        text-align: left;
        font-weight: bold;
    }

    .hero-image {
        height: 100%;
    }
    .hero-text {
        background-color: rgba(0, 0, 0, 0.700);
        width: 500px;
        top: 50%;
        color: gray;
    }
    .hero-text2 {
        width: 75%;
        margin: auto;
    }
    .form-control {
        background-color: rgb(34, 34, 34);
        border: none;
        color: gray;
    }
    .p-grey {
        color: grey;
    }
    .con-footer {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.700);
    }

    @media screen and (max-width: 700px) {
        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url(img/arkaplan.jpg);
        }
    }
</style>
{% endblock css %}
    

{% block nonheader %}

{% for i in messages %}
{% if i.tags == "success" %}
<div class="alert alert-success alert-dismissible fade show fw-bold" role="alert"
    style="position: fixed; bottom: 50px; right: 50px; z-index: 1050; min-width: 350px !important; width: fit-content;">
    {{ i }}, {{ request.user }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if i.tags == "warning" %}
<div class="alert alert-danger alert-dismissible fade show fw-bold" role="alert"
    style="position: fixed; bottom: 50px; right: 50px; z-index: 1050; width: fit-content;">
    {{ i }}
    <hr>
    Hesabınız yoksa <a href="{% url 'registerUser' %}">Kayıt</a> olmanız gerekir
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}

    

    <div class="hero-image">
        <!-- navbar -->
        <nav class="navbar">
            <div class="container">
                <a href="" class="navbar-brand"><img src="{% static 'img/netflix_logo.png' %}" alt=""></a>
            </div>
        </nav>

        <div class="hero-text">
            <!-- form -->
            <form method="POST" action="" class="hero-text2 mt-5 mb-5">
               
                    
                {% csrf_token %}
                <h2>Oturum Aç</h2>

                <div class="mb-3">
                    <input type="text" name="username" class="form-control form-control-lg mt-3" placeholder="Email veya kullanıcı adı">
                    <input type="password" name="password" id="" class="form-control form-control-lg mt-3">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger btn-lg" type="submit">Oturum Aç</button>
                </div>

                <div class="form-check text-start">
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">
                        Beni Hatırla
                    </label>
                </div>

                <p class="p-grey">
                    Netflix'e katılmak ister misiniz? <a href="{% url 'registerUser' %}">Şimdi kaydolun.</a>  <br><br>
                    Bu sayfa robot olmadığınızı kanıtlamak için Google reCAPTCHA tarafından korunuyor. Daha fazlasını öğrenin.
                </p>
            </form>
        </div>

        
    </div>

    
{% endblock nonheader %}